/* index */

/* carousel */
.container-fluid {
  height: 90%;
  width: 100%;
}

.carousel-inner img {
  height: 300px;
}
/* Fin carousel */


.card-img-top{
  height: 200px;
}



/* Galery */

#galery img{
  width: 100%;
  height: 250px;
}


#galery img:hover{
  border: 5px solid #f7f7f7;
}